<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<info>
    <!-- Must match id in JS SpPS.register call in kebab-case -->
    <name>TabbedChildEntities</name>
    <title>Tabbed Child Entities Plugin</title>
    <description>Plugin to display subentities of certain Entity Types as tab inside the Entitie's view.</description>
    <version>1.0.0</version>
    <licence>MIT</licence>
    <authors>
        <author>Severin Opel</author>
    </authors>
    <dependencies>
        <!-- Other plugins this plugin depends on -->
        <File />
    </dependencies>
    <migrations src="Migrations" />
    <hooks>
        <hook src="App\Hooks@addChildrenToEntity" on="api/v1/entity/{id}/entity_detail" />
    </hooks>
</info>